<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <!-- <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div id="sticky-header">
            <div class="incline-block">
                <img class="logo" src="../static/assets/logo.png" alt="Duquesne Incline logo">
                <h3 class="container">Duquesne Incline</h3>
            </div>
            <nav class="container">
                <a href="../index.html">Home</a>
                <a href="../views/history.html">History</a>
                <a href="../views/fares.html">Hours & Fares</a>
                <div class="dropdown">
                <a class="dropdown-btn" onclick="toggleDropdown()">Visitor Details</a>
                    <ul class="dropdown-content">
                        <li><a href="../views/directions.html">How to get here</a></li>
                        <!-- inclues self-guided, group, & city tours -->
                        <li><a href="../views/tours.html">Plan your visit with tours</a></li> 
                        <li><a href="../views/trip.html">Field Trip Program for Students</a></li>
                    </ul>
                </div>
                <a href="../views/shop.html">Gift Shop</a>
                <a class="current-page" href="../views/faq.html">FAQs</a>
            </nav>
        </div>
        <img src="../static/assets/faq/faq-banner.jpg" class="full-width" alt="A picture of the incline">
    </header>
    
    <main>
        <div class="body-container">
            <div>
                <h2 class="dark-font">Frequently Asked Questions</h2>
                <p class="body">
                    <ul>
                        <li class="dark-font">Exact Cash Fare upon arrival.</li>
                        <li class="dark-font">There are no tickets, no advance payment, no reservations and no debit or credit cards.</li>
                        <li class="dark-font">The Duquesne Incline is part of the transportation system in Pittsburgh and therefore uses the same _CASH_ fare system as the buses and trolleys. A change machine is available for your convenience. Having the exact fare in hand speeds up the payment process considerably.</li>
                        <li class="dark-font">Pennsylvania Seniors 65 and older who present a BLUE or YELLOW PRT card or a Senior ConnectCard ride free, otherwise, the adult rate applies.</li>
                        <li class="dark-font">The Duquesne Incline is required to request a Pennsylvania Senior Citizen Transit ID card as proof of discount eligiblity, no exceptions, in order to be reimbursed by the Commonwealth of PA.</li>
                        <li class="dark-font">Sorry, no rest rooms. The Duquesne Incline has been part of Pittsburgh's transportation system since 1877 like a trolley or the cable cars of San Francisco.</li>
                        <li class="dark-font">Saturday's and Sunday's after noon are our busiest times. Expect to wait in line for about 10 minutes in both directions.</li>
                        <li class="dark-font">There are many steps to traverse from the lower station parking lot.The Upper Station located at 1220 Grandview Ave, Pittsburgh, Pa. 15211 is wheelchair accessible. Our observation deck is also wheelchair accessible. The Historic (original) Incline cars can accommodate wheelchairs up to 25 inches in width.</li>
                    </ul>
                </p>
            </div>
        </div>
    </main>

    <footer> 
        <div class="footer">
            <div class="column">
                <p class="footer-title">Address</p>
                <p>1197 West Carson Street<br>
                    Pittsburgh, PA 15219<br>
                    United States of America
                </p>
            </div>
            <div class="column">
                <p class="footer-title">Contact</p>
                <p>Phone Number: 412.381.1665<br>
                    Fax: 412.381.1943<br>
                    Email: duq.incline@duquesneincline.org</p>
            </div>
            <a href="../views/mailing.html" class="button">Join Our Mailing List</a>
        </div>
        <p class="copyright">Copyright &copy; <span id="copyYear"></span>. All Rights Reserved.</p>
    </footer>
</body>
</html>