<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <!-- <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div id="sticky-header">
            <div class="incline-block">
                <img class="logo" src="../static/logo.png" alt="Duquesne Incline logo">
                <h2 class="container">Duquesne Incline</h2>
            </div>
            <nav class="container">
                <a href="../index.html">Home</a>
                <a href="../views/about.html">About</a>
                <a class="current-page" href="../views/fares.html">Hours & Fares</a>
                <div class="dropdown">
                <a class="dropdown-btn" onclick="toggleDropdown()">Visitor Details</a>
                    <ul class="dropdown-content">
                        <li><a href="../views/directions.html">How to get here</a></li>
                        <!-- inclues self-guided, group, & city tours -->
                        <li><a href="../views/tours.html">Plan your visit with tours</a></li> 
                        <li><a href="../views/trip.html">Field Trip Program for Students</a></li>
                    </ul>
                </div>
                <a href="../views/shop.html">Gift Shop</a>
                <a href="../views/faq.html">FAQs</a>
            </nav>
        </div>
        <img src="../static/banner.png" class="full-width" alt="A picture of the incline">
    </header>

</body>
</html>