<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <!-- <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div id="sticky-header">
            <div class="incline-block">
                <img class="logo" src="../static/assets/logo.png" alt="Duquesne Incline logo">
                <h3 class="container">Duquesne Incline</h3>
            </div>
            <nav class="container">
                <a href="../index.html">Home</a>
                <a href="../views/history.html">History</a>
                <a href="../views/fares.html">Hours & Fares</a>
                <div class="dropdown">
                <a class="dropdown-btn" onclick="toggleDropdown()">Visitor Details</a>
                    <ul class="dropdown-content">
                        <li><a href="../views/directions.html">How to get here</a></li>
                        <!-- inclues self-guided, group, & city tours -->
                        <li><a href="../views/tours.html">Plan your visit with tours</a></li> 
                        <li><a href="../views/trip.html">Field Trip Program for Students</a></li>
                    </ul>
                </div>
                <a class="current-page" href="../views/shop.html">Gift Shop</a>
                <a href="../views/faq.html">FAQs</a>
            </nav>
        </div>
        <img src="../static/assets/shop/gift-shop-banner.png" class="full-width" alt="A picture of the incline">
    </header>

    <main>
        <div class="body-container">
            <h2 class="dark-font">Come visit our gift shop</h2>

            <p class="dark-font">We offer many one of a kind items that were custom made for the Incline.</p>
            <!-- code for slides consulted W3Schools -->
            <div class="slideshow-container">

                <div class="slides fade">
                <div class="slideNumText">1 / 3</div>
                <img src="../static/assets/shop/carousel-img1.png" style="max-width: 100%">
                <div class="text">Many shot glasses are for sale including a slanted one</div>
                </div>
            
                <div class="slides fade">
                <div class="slideNumText">2 / 3</div>
                <img src="../static/assets/shop/carousel-img2.png" style="width:100%">
                <div class="text">This handmade Incline wooden ornament is a big seller
                    and is only available here</div>
                </div>
            
                <div class="slides fade">
                <div class="slideNumText">3 / 3</div>
                <img src="../static/assets/shop/carousel-img3.png" style="width:100%">
                <div class="text">A full assortment of Wendell August Forge metal plates</div>
                </div>
            
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <p class="dark-font">All types of pictures framed and unframed<br>
                Custom designed shirts available in youth and adult sizes<br>
                We also have one of the best selections of postcards in the city<br></p>

        </div>
    </main>

    <footer> 
        <div class="footer">
            <div class="column">
                <p class="footer-title">Address</p>
                <p>1197 West Carson Street<br>
                    Pittsburgh, PA 15219<br>
                    United States of America
                </p>
            </div>
            <div class="column">
                <p class="footer-title">Contact</p>
                <p>Phone Number: 412.381.1665<br>
                    Fax: 412.381.1943<br>
                    Email: duq.incline@duquesneincline.org</p>
            </div>
            <a href="../views/mailing.html" class="button">Join Our Mailing List</a>
        </div>
        <p class="copyright">Copyright &copy; <span id="copyYear"></span>. All Rights Reserved.</p>
    </footer>
</body>
</html>