<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <!-- <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div id="sticky-header">
            <div class="incline-block">
                <img class="logo" src="../static/assets/logo.png" alt="Duquesne Incline logo">
                <h3 class="container">Duquesne Incline</h3>
            </div>
            <nav class="container">
                <a href="../index.html">Home</a>
                <a href="../views/history.html">History</a>
                <a href="../views/fares.html">Hours & Fares</a>
                <div class="dropdown">
                    <button class="dropdown-btn" id="dropdown-nav" onclick="toggleDropdown()" aria-haspopup="true" aria-expanded="false">
                        Visitor Details
                    </button>
                    <ul class="dropdown-content" id="dropdown-menu">
                        <li><a href="../views/directions.html">How to get here</a></li>
                        <li><a href="../views/tours.html">Plan your visit with tours</a></li>
                        <li><a href="../views/trip.html">Field Trip Program for Students</a></li>
                    </ul>
                </div>
                <a href="../views/shop.html">Gift Shop</a>
                <a href="../views/faq.html">FAQs</a>
            </nav>
        </div>
        <img src="../static/assets/index/banner.png" class="full-width" alt="A picture of the incline">
    </header>

    <main>
        <div class="body-container">
            <div>
                <h2 class="dark-font">City Tours that Features the Duquesne Incline</h2>
                <div class="row-layout">
                    <div class="column-layout">
                        <h3 class="dark-font">Pittsburgh Tours and More</h3>
                        <a href="https://www.pghtoursandmore.net/">
                            <img class="linked-img" src="../static/assets/tours/pgh-tours-and-more.png" width="100%">
                        </a>
                        <p class="dark-font">Pittsburgh Movie Locations, Sports, Breweries, Wineries and More.</p>
                        <p class="dark-font">Phone: 412-323-4707</p>
                    </div>
                    <div class="column-layout">
                        <h3 class="dark-font">Molly's Trolleys</h3>
                        <a href="https://www.mollystrolleyspgh.com/">
                            <img class="linked-img" src="../static/assets/tours/mollys-trolley.png" width="100%">
                        </a>
                        <!-- <p>Pittsburgh Movie Locations, Sports, Breweries, Wineries and More.</p> -->
                        <p class="dark-font">Phone: 412-281-2055</p>
                    </div>
                </div>

                <div class="row-layout">
                    <div class="column-layout">
                        <h3 class="dark-font">Rivers of Steel</h3>
                        <a href="https://www.riversofsteel.com">
                            <img class="linked-img" src="../static/assets/tours/rivers-of-steel.png">
                        </a>
                        <!-- <p>Pittsburgh Movie Locations, Sports, Breweries, Wineries and More.</p> -->
                        <p class="dark-font">Phone: 412-464-4020 or 412-381-8687</p>
                    </div>
                    <div class="column-layout">
                        <h3 class="dark-font">The Pittsburgh Tour Company</h3>
                        <a href="https://www.pghtours.com/">
                            <img class="linked-img" src="../static/assets/tours/pgh-tours-co.png"></a>
                        <p class="dark-font">Hop on/Hop off Double Decker tour buses from London.</p>
                        <p class="dark-font">Phone: 412-381-8687</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer> 
        <div class="footer">
            <div class="column">
                <p class="footer-title">Address</p>
                <p>1197 West Carson Street<br>
                    Pittsburgh, PA 15219<br>
                    United States of America
                </p>
            </div>
            <div class="column">
                <p class="footer-title">Contact</p>
                <p>Phone Number: 412.381.1665<br>
                    Fax: 412.381.1943<br>
                    Email: duq.incline@duquesneincline.org</p>
            </div>
            <a href="../views/mailing.html" class="button">Join Our Mailing List</a>
        </div>
        <p class="copyright">Copyright &copy; <span id="copyYear"></span>. All Rights Reserved.</p>
    </footer>
</body>
</html>