/* CSS HEX
--dark-green: #112d18ff;
--almond: #eeddc9ff;
--mantis: #70b766ff;
--khaki: #c0a984ff;
--persian-red: #bd372dff;
--paynes-gray: #5a6b77ff;
--sea-green: #2c803fff; */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
main {
    flex: 1;
}
* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #eeddc9ff;
    box-sizing:border-box
}
.red-font {
    color: #bd372dff;
    font-style: italic;
}
.dark-font {
    color: #112d18ff;
}
.container {
    padding: 5px 10px;
    margin: 10px;
}
.body-container {
    padding: 0 10px;
    margin: 100px;
}
/* p.body-container, h2.body-container {
    color: #112d18ff;
} */
.column {
    display: flex;
    flex-direction: column;
}
img.full-width {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}
img.logo {
    width: 100%;
    max-width: 75px;
    height: auto;
}
#webname {
    background-color: #92ad70;
    color: #ffffff;
}
.current-page {
    background: #ffff;
    color: #112d18ff;
    padding: 10px 20px;
}
nav a{
    text-decoration: none;
    color: #70b766ff;
    font-weight: bold;
    padding: 10px 20px;
}
nav a:hover{
    background: #ffff;
    color: #112d18ff;
    padding: 10px 20px;
}
nav button.dropdown-btn {
    background: none;
    border: none;
    color: #70b766ff;
    font-weight: bold;
    padding: 10px 20px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

nav button.dropdown-btn:hover {
    background: #ffff;
    color: #112d18ff;
    padding: 10px 20px;
}
nav.container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}
/* .dropdown {
    position: relative;
    display: inline-block;
}
#dropdown-btn {
    cursor: pointer;
} */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    background: white;
    padding: 10px 20px;
    margin: 10px 0;
    list-style: none;
    white-space: nowrap;
}
/* .dropdown-content.show {
    display: block;
} */
.dropdown span {
    color: #70b766ff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
}
.dropdown span:hover {
    background: #ffffff;
    color: #112d18ff;
}
.dropdown-content li {
    margin: 12px 0; /* Increases top & bottom margin (adjust px as needed) */
    padding: 0; /* Resets any default padding */
}
/* .dropdown-content {
    left: 0;
*/

.incline-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
#sticky-header {
    position: sticky;
    top: 0;
    padding: 10px 5%;
    background: #112d18ff;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer {
    background: #112d18ff;
    width: 100%;
}
.footer {
    display: flex;
    padding: 10px 5%;
    color: #f1f1f1;
    align-items: center;
    justify-content: space-evenly;
}
.form {
    display: flex;
    margin: auto;
    text-align: start;
    flex-direction: column;
    width: 400px;
}
.show {
    display:block;
}
.dropdown {
    position: relative;
    /* display: inline-block; */
}
label {
    color: #112d18ff;
}
h3 {
    font-size: 25px;
}
h2 {
    font-size: 40px;
}
.copyright {
    text-align: center;
}
.button {
    padding: 20px 30px;
    border: 1px;
    border-radius: 3px;
    background-color: #eeddc9ff;
    text-decoration: none;
    color: #112d18ff;
}
.button:hover {
    background-color: #70b766ff;
    color: #eeddc9ff;
}
p.body {
    font-size: 20px;
    color: #112d18ff;
}
.body {
    font-size: 20px;
    color: #112d18ff;
    list-style: decimal
}
p.footer-title {
    font-size: 25px;
    color: #eeddc9ff;
    justify-content: start;
}
#map {
    height: 400px;
    width: 100%;
}
/* code for slides consulted W3Schools */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideNumText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.row-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 0;
}
.column-layout {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 50%;
}
.linked-img:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}